.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

.mx-auto{
    width: 80%; 
    height: 300px; 
    border-radius: 21px 21px 0 0;
}
img{
    height: 300px;
}

font{
    vertical-align: inherit;
}

.container{
    margin: 50px; 
    padding-left: 100px;
}

.position-relative{
    margin-bottom:50px;
    padding-bottom:50px;
}